*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  color: white;
}

html,body{
  width: 100%;
  height: 100%;
}
.page1{
  width: 100%;
  height: 100vh;
  background-color: rgb(48, 48, 34);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.appcontainer{
  width: 60rem;
  height: 40rem;
  background-color: black;
  position: absolute;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading-div{
  /* background-color: aquamarine; */
  padding-left: 1rem;
}
.heading-div h4{
  font-weight: 300;
}
.taskinput{
  display: flex;
  gap: 10px;
  /* flex-wrap: wrap; */
  /* background-color: cadetblue; */
}
.taskinput input{
  width: 80%;
  height: 3vw;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(65, 65, 63);
  padding-left: 1rem;
  
}
input::placeholder{
  color: rgb(184, 178, 178);
}
.taskinput button{
  color: black;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(233, 193, 15);
  width: 20%;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.taskinput button:hover{
  font-size: 15px;
}
.todoboard {
  width: 100%;
  /* background-color: blue; */
  height: 80%; /* Use height instead of min-height */
  overflow: auto;
  
  
  padding-top: 10px;
  position: relative;
}

::-webkit-scrollbar {
  margin-left: 2px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:rgb(233, 193, 15) ; 
}
.task{
  width: 98%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(65, 65, 63);
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  
}
.notDone{
  font-weight: 400;
  font-size: medium;
  position: relative;
}
.done{
  font-weight: 400;
  font-size: medium;
  position: relative;
  text-decoration: line-through;
  
}
.donebutton{
  background-color: transparent;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.donebutton:hover{
  background-color: rgb(44, 204, 44);
  border: 1px solid rgb(44, 204, 44);
}
.editbutton{
  background-color: transparent;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 80px;
  cursor: pointer;
}
.editbutton:hover{
  background-color: rgb(233, 193, 15);
  border: 1px solid rgb(233, 193, 15);
}
.edit-filterON{
  background-color: rgba(3, 0, 0, 0.584);
  width: 100%;
  height: 100%;
  position: absolute;
  left: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  /* display: block; */
  
}
.edit-filterOFF{
  background-color: rgba(3, 0, 0, 0.584);
  width: 100%;
  height: 100%;
  position: absolute;
  left: -0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  display: none;
  
}
.disableButton{
  background-color: transparent;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 80px;
  cursor: pointer;
  background-color: rgb(233, 193, 15);

}
.deletebutton{
  background-color: transparent;
  width: 1.5vw;
  height: 1.5vw;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 40px;
  cursor: pointer;
}
.deletebutton:hover{
background-color: red;
border: 1px solid red;
}

.emptyDiv{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}